/* todo oscylować placeholdera */

:root {
    --main-font-family: 'Teko', sans-serif;
    --error-bg: #a80c07;
    --error-text-color: #fff;
}

html[data-theme="day"] {
    --header-color: #fff;
    --switcher-icon-color: #000;
    --main-info-color: #fff;
    --loader-color: #000;

}

html[data-theme="night"] {
    --header-color: #fff;
    --switcher-icon-color: #fff;
    --main-info-color: #fff;
    --loader-color: #fff;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: var(--main-font-family);
}

.weather {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-inline: 20px;
}

.weather h1 {
    color: var(--header-color);
    font-size: 130px;
    margin: 0 0 30px 0;
}

.weather .city {
    max-width: 600px;
    min-width: 300px;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    border: 0;
    outline: none;
    font-size: 16px;
    border-radius: 4px;
    margin: 0 0 40px 0;
}

.weather video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

/*  SWITCHER */

.switcher {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    color: var(--switcher-icon-color);
    z-index: 9;
}

.switcher .night {
    color: #fff;
}

.switcher div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.switcher.day .day {
    display: none;
}

.switcher.night .night {
    display: none;
}

/*  .theme day */

html[data-theme="day"] .weather video.night {
    display: none;
}

/*  Weather display element */

.info {
    letter-spacing: 1px;
    word-spacing: 2px;
}

.main-info {
    display: flex;
    align-items: flex-start;
    color: var(--main-info-color);
    font-size: 18px;
}

.main-info .temp {
    margin: 0 20px;
    display: flex;
}

.main-info .temp-value {
    font-weight: 700;
    font-size: 50px;
    margin: 0 10px 0 0;

}

.main-info .temp ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-info .temp ul li.active {
    font-weight: 700;
}

.main-info .temp ul li::before {
    content: "|";
    padding: 0 6px;

}

.main-info .temp ul li:first-child::before {
    display: none;
}

.main-info .info p {
    margin: 0 0 4px 0;
    font-size: 15px;
}

.main-info .info p:last-of-type {
    margin: 0;
}

/* Try to ostilate additional day */

.days-info {
    color: var(--main-info-color);
    font-size: 22px;
    /* padding-bottom: 5px; */
}

.days {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: var(--main-info-color);
    font-size: 18px;
    padding: 0;
}

.days .temp {
    padding-left: 10px;
}


/* Icon try to reduce space between icon and temp */

.icon {
    padding-bottom: 0;
}

/* error */

.error {
    background-color: var(--error-bg);
    color: var(--error-text-color);
    font-size: 14px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* loader */

.loader {
    display: none;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid var(--loader-color);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

@media (max-width: 568px) {
    .weather h1 {
        font-size: 70px;
    }
}