:root {
    --main-font-family: 'Teko', sans-serif;
}

html[data-theme="day"] {
    --header-color: #fff;
    --switcher-icon-color: #000;
}

html[data-theme="night"] {
    --header-color: #fff;
    --switcher-icon-color: #fff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: var(--main-font-family);
}

.weather {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather h1 {
    color: var(--header-color);
    font-size: 50px;
    margin: 0 0 30px 0;
}

.weather video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

/*  SWITCHER */

.switcher {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    color: #fff;
    color: var(--switcher-icon-color);
}

.switcher .night {
    color: #fff;
}

.switcher div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.switcher.day .day {
    display: none;
}

.switcher.night .night {
    display: none;
}

/*  .theme day */

html[data-theme="day"] .weather video.night {
    display: none;
}